// variables

$warning:                       #ffd60a;
$primary:                       #003566;

$font-family-sans-serif:      Roboto, system-ui, -apple-system, "Segoe UI",  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base:              1rem;
$h1-font-size:                $font-size-base * 4;
$h2-font-size:                $font-size-base * 2.25;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;
$font-size-lg:                $h4-font-size;

$link-color:                  #888;

$nav-link-font-size:            $h4-font-size;
$navbar-brand-font-size:        $h4-font-size;
$nav-link-font-weight:          400;
$nav-link-padding-x:            0rem;
$nav-link-hover-color:          $primary;
$nav-link-color:                #776741;

$border-radius-lg:              1.2rem;

$pagination-active-bg:            #000;
$pagination-color:               #333;
$pagination-hover-bg:            #333;
$pagination-hover-color:         #ddd;

$input-btn-line-height:         1;
$btn-padding-y-lg:         1.5rem;
$btn-padding-x-lg:         2rem;

$input-group-addon-bg:                  $primary;
$input-group-addon-color:                  #ddd;




@import "../boostrap/scss/bootstrap";

.createCompBtn{
    padding-left:       1.8rem;
    padding-right:      1.8rem;
    padding-top:        .7rem;
    padding-bottom:     .7rem;
    font-size:          $h4-font-size;
    border-radius:      1.2rem;
    background-color:   $warning;
    border-radius:      1.2rem;
}

.login_signupForm{
    padding-top:        7rem;
    margin-bottom:      12rem;
    .btn{
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
        font-size: $h4-font-size;
        border-radius: 1.2rem;
    }
}

.competitionInfoConteiner{
    padding-top:        3rem;
    line-height:        1.3;
    position:relative;

    .title{
        margin-bottom:      2rem;
        font-weight:        bolder;
        font-size:          3rem;

    }
    .discription{
        font-size:          $h4-font-size;
    }
    .organizer{
        font-size:          $h3-font-size;
        padding-top:        0rem;
        border-left:        5px solid $primary;
    }

    .dateTimeInfo{
        margin-top:         7rem;
        text-align:         right;
    }
}

.teamRegistrForm{
    padding-top:        5rem;

    .teamFormData{
        margin-bottom:      3rem;
    }

    .playerFormData{
        background-color: $primary;
        padding: 2rem;

        margin-bottom: 2rem;
        border-radius: 1.2rem;
    }
}


.match{
    font-size:          $h4-font-size;
    color:              #fff;
    padding-top:         1rem;
    padding-bottom:         2rem;
    padding-left:        2rem;
    margin-top:          .7rem;
    margin-bottom:       .8rem;
    background-color:   $primary;
    @include border-radius($border-radius-lg);

    .collapse{
        color:   #000;
    }

    &.pastMatch{
        background-color: $black;
    }

    .notification{
        color:  #ff0;
        margin-bottom: 0rem;
    }

    .title{
        font-size:      1.8rem;
        font-weight:        bolder;
        margin-top:         1rem;
    }

    .scoreEditor{
        text-align:     center;
    }

    .score{
        font-size:          $h2-font-size;
        color:              #000;
        background-color:   #fff;
        border-radius:      1rem;
        text-align:         center;
        height:             80px;
        width:              80px;
        padding-top:        .8rem;

        &.winner{
            background-color:   #7f7;
        }

        &.loser{
            background-color:   #f77;
        }



    }
}

.competition{
    color:                      #fff;
    margin-top:                 3rem;
    padding-top:                4.3rem;
    padding-bottom:             4.3rem;
    padding-left:               3rem;
    background-color:           $primary;
    @include border-radius($border-radius-lg);



    &.currentCompetition, &.pastCompetition{
        margin-top:                 2rem;
        padding-left:                2rem;
        padding-right:                2rem;
        padding-top:                2.7rem;
        padding-bottom:             2.7rem;
    }

    &.pastCompetition{
        background-color: $black;
    }
}


