{% extends 'base.html' %}
{% block content %}




<div class="row justify-content-center mb-5">
    <div class="col">
        {% for competition in announcedCompetitions %}

            <div class="competition">
                <p class="h1">
                    {{ competition.name }}
                </p>
                <div class="col-12 col-xl-10 my-5">
                    <p class="h2">
                        {{ competition.discription }}
                    </p>
                </div>
                <a href="{% url 'competition' competition.id %}">
                    <button type="button" class="btn px-5 border-2 btn-lg btn-warning mx-2">
                        {% if userIsJudge%} Редактировать
                        {% else %}  Подать заявку   {% endif %}
                    </button>
                </a>
            </div>
        {% endfor %}

        <div class="row mt-5">
            <div class="col-12 col-md-6">
                <div class="row">
                    <h2>Текущие соревнования</h2>
                </div>
                {% for competition in currentCompetitions %}
                    <div class="row">
                        <div class="col">
                            <div class="competition currentCompetition">
                                <p class="h3 mb-3"> {{ competition.name }} </p>
                                <p class="h5"> {{ competition.discription }} </p>
                                <a href="{% url 'competition' competition.id %}"><h4>Подробнее</h4></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-12 col-md-6">
                <div class="row">
                    <h2>Прошедшие соревнования</h2>
                </div>
                {% for competition in pastCompetitions %}
                    <div class="row">
                        <div class="col">
                            <div class="competition pastCompetition">
                                <p class="h3 mb-3"> {{ competition.name }} </p>
                                <p class="h5"> {{ competition.discription }} </p>
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'competition' competition.id %}"><h4>Подробнее</h4></a>
                                    </div>
                                    <div class="col-6">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if pastCompListIsLong %}
                    <div class="row justify-content-center"><div class="col-auto">
                        <p class="h4 mt-3"><a style="color: #000;" href="{% url 'pastCompetition' %}">Посмотреть всю историю</a></p>
                    </div></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock %}