{% extends 'base.html' %}
{% block content %}




<div class="row mb-5">
        <div class="col">
            <div class="row">
                <h2 class="col-6">Прошедшие соревнования</h2>
                <div class="col-6 mt-2">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Здесь когда-нибудь реализуется функция поиска" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Поиск</button>
                    </div>
                </div>
            </div>
            {% for competition in page_obj %}
            <div class="row justify-content-start">
                <div class="col-8">
                    <div class="competition pastCompetition">
                        <p class="h3 mb-3"> {{ competition.name }} </p>
                        <p class="h5"> Время окончания: {{ competition.competitionEndDateTime }} </p>
                        <p class="h5"> Организатор: {{ competition.organizerName }} </p>
                        <div class="row">
                            <div class="col-6 link">
                                <a href="{% url 'competition' competition.id %}"><h4>Подробнее</h4></a>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% if paginator %}
            <ul class="pagination pagination-lg justify-content-center flex-wrap mt-3 mb-4">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in pageList %}
                    {% if page_obj.number == i %}
                        <li class="active page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        {% if i == page_obj.paginator.ELLIPSIS %}
                            <li class="page-item"><span class="page-link">{{ i }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
</div>



{% endblock %}